/* .colImg {
  margin-top: -70px;
}

.colAbout {
  margin-top: -70px;
} */

.imgMyPhoto {
  width: 400px;
  height: 400px;
  border-radius: 50px;
  box-shadow: 3px 3px gray, -1em 0 0.4em grey;
}

#about {
  height: 1000px;
  margin-bottom: 300px;
}
