.navbar {
  height: 7rem;
  font-size: larger;
  background-color: #223831;
}

.imgLogo {
  width: 7rem;
  padding-left: 35px;
}

.iconLenguage {
  width: 30px;
}

.my-navbar-toggler {
  margin-right: 30px;
}

.navbar-nav {
  align-items: center;
}

.botonIdioma {
  margin-right: 50px;
  background-color: #223831;
  border: 1px solid white;
}
