.App {
  display: flex;
  /* background-color: rgba(37, 52, 57, 255); */
  color: white;
  justify-content: center;
  font-family: var(--font-primary);
  background-image: url(/src/resources/images/83-838296_web-designer-professional-website-background-images.jpg);
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(500px) opacity(1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
